html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DCDCDC;
  color: #353839; }

h1 {
  text-align: center; }

input {
  width: 90%;
  background-position: bottom;
  border: 0;
  outline: none;
  font-style: italic;
  text-align: center;
  background-color: #D1D0CE;
  background-image: -webkit-linear-gradient(left, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-size: 14px 2px;
  background-repeat: repeat-x; }

.toast {
  top: 0;
  right: 0;
  position: absolute;
  width: 20%;
  height: 10%;
  margin: 15px;
  box-shadow: 10px 10px 44px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .toast h4 {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 10px 5px 5px 5px; }
  .toast.success {
    background-color: #8ACC84; }
  .toast.info {
    background-color: #ffff99; }
    .toast.info h4 {
      color: #353839; }
  .toast.error {
    background-color: #CC848A; }

.device-synchronizer-container {
  background: #C7C6C4;
  opacity: 0.9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  top: 60%;
  width: 50%;
  position: absolute;
  left: 25%;
  min-height: 20vh;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 10px 10px 44px 5px rgba(0, 0, 0, 0.75); }
  .device-synchronizer-container h1 {
    margin-bottom: 10px; }
  .device-synchronizer-container button {
    margin: 20px; }
  .device-synchronizer-container i {
    color: #77DD77;
    font-size: 60px;
    margin-bottom: 10px; }
  .device-synchronizer-container .synchronizing {
    padding-bottom: 35px; }
  .device-synchronizer-container .error {
    color: #A92F41;
    cursor: pointer; }
  .device-synchronizer-container .device-list {
    height: 160px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px; }
  .device-synchronizer-container input {
    width: 60%;
    background-color: #C7C6C4;
    background-size: 15px 2px;
    font-size: 20px;
    letter-spacing: 1px; }
  .device-synchronizer-container table {
    width: 90%;
    margin: auto auto 30px;
    text-align: center; }
    .device-synchronizer-container table tr:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both; }
    .device-synchronizer-container table thead {
      text-align: center; }
    .device-synchronizer-container table tbody {
      height: 80px;
      overflow-y: auto; }
      .device-synchronizer-container table tbody .selected {
        border-radius: 10px;
        background: #353839;
        color: white; }
  .device-synchronizer-container thead, .device-synchronizer-container tbody, .device-synchronizer-container tr, .device-synchronizer-container td, .device-synchronizer-container th {
    display: block; }

.status-container {
  width: 60%;
  height: 50%;
  overflow: hidden;
  padding: 20px;
  position: fixed !important;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center; }
  .status-container button {
    font-size: 125%;
    background-color: #EE4400;
    width: 20%;
    color: white; }
  .status-container .scanner-info {
    opacity: 0.7;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 30%;
    display: table; }
    .status-container .scanner-info p {
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
      font-weight: bold;
      color: white; }
    .status-container .scanner-info.enabled {
      background-color: #77DD77;
      box-shadow: 0 0 0 rgba(50, 205, 50, 0.6);
      -webkit-animation: pulse 3s infinite;
              animation: pulse 3s infinite; }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.6); }
  70% {
    box-shadow: 0 0 0 20px rgba(50, 205, 50, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(50, 205, 50, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.6); }
  70% {
    box-shadow: 0 0 0 20px rgba(50, 205, 50, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(50, 205, 50, 0); } }
      .status-container .scanner-info.enabled p {
        -webkit-animation: text-pulse 3s infinite;
                animation: text-pulse 3s infinite; }

@-webkit-keyframes text-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes text-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
    .status-container .scanner-info.disabled {
      background-color: #A92F41; }

.settings-container {
  -webkit-transform: translate3d(0, 0, 0);
  box-shadow: -5px -5px 5px #C7C6C4;
  position: absolute;
  top: 87%;
  width: 100%;
  z-index: 2;
  background: #D1D0CE; }

.settings-content {
  margin: 0 auto 10% auto;
  width: 50%; }
  .settings-content button {
    width: 80px; }
  .settings-content .general {
    overflow: hidden;
    border-bottom: 1px solid #C7C6C4; }
    .settings-content .general .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .settings-content .general .container .left {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%;
        margin: 16px 0 10px 10px; }
      .settings-content .general .container .center {
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
        margin: 5px 0 10px 10px; }
      .settings-content .general .container .two-column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: center; }
        .settings-content .general .container .two-column form {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; }
        .settings-content .general .container .two-column input {
          margin-top: 10px; }
      .settings-content .general .container .right {
        -webkit-flex-basis: 20%;
            -ms-flex-preferred-size: 20%;
                flex-basis: 20%;
        margin: 5px 0 10px 0;
        text-align: center; }
      .settings-content .general .container form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .settings-content .general .container .radio-input {
        width: auto; }
      .settings-content .general .container .text-input {
        font-size: 20px;
        line-height: 30px; }
        .settings-content .general .container .text-input:valid {
          font-size: 25px;
          letter-spacing: 10px; }
    .settings-content .general p {
      color: #353839;
      font-style: italic; }
    .settings-content .general h3 {
      color: #353839; }
      .settings-content .general h3.line {
        display: table;
        white-space: nowrap;
        margin-bottom: 0; }
        .settings-content .general h3.line:after {
          border-top: 1px solid #C7C6C4;
          content: '';
          display: table-cell;
          position: relative;
          top: 0.5em;
          width: 100%;
          left: 1.5%; }
  .settings-content .settings-header {
    height: 13vh;
    position: relative;
    text-align: center; }
    .settings-content .settings-header i {
      font-size: 60px;
      width: 100%;
      left: 0;
      top: 20%;
      position: absolute;
      -webkit-animation-duration: 7s;
              animation-duration: 7s; }
  .settings-content .scanner-button {
    width: 50%;
    left: 25%;
    position: relative;
    margin: 10px 0 10px 0;
    color: white;
    background-color: #8ACC84; }
  .settings-content table {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    border: none; }
    .settings-content table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative; }
    .settings-content table .col-id {
      width: 5%;
      text-align: center; }
    .settings-content table .col-name {
      width: 20%; }
    .settings-content table .col-uuid {
      width: 55%; }
    .settings-content table .col-buttons {
      width: 20%;
      text-align: center; }
